<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel='icon' href="/img/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='main-content'>
        {{>header}}

        <p>Use this web-site to Check Your Wether.</p>
        <form>
            <input type="textbox" placeholder="Enter Location">
            <button type="submit">Search</button>
        </form>

        <p id="error">{{data.error}}</p>
        <p id="response">{{data}}</p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>